---
import { menuLinks } from "@/site-config";

import Search from "../Search.astro";
import ThemeToggle from "../ThemeToggle.astro";

const url = new URL(Astro.request.url);
---

<header class="group relative mb-20 flex items-center sm:ps-[4.5rem]" id="main-header">
	<div class="flex sm:flex-col">
		<a
			aria-current={url.pathname === "/" ? "page" : false}
			class="inline-flex items-center grayscale hover:filter-none sm:relative sm:inline-block"
			href="/"
		>
			<svg
				aria-hidden="true"
				class="me-3 h-10 w-6 sm:absolute sm:start-[-4.5rem] sm:me-0 sm:h-20 sm:w-12"
				fill="none"
				focusable="false"
				height="192pt" 
				viewBox="0 0 192.000000 192.000000" 
				width="192pt"
				xmlns="http://www.w3.org/2000/svg"
			>
				<title>Logo</title>

				<g fill="#000000"
				stroke="none" transform="translate(0.000000,192.000000) scale(0.100000,-0.100000)">
				<path d="M810 1808 c-54 -15 -64 -48 -15 -48 47 0 33 -17 -18 -23 -135 -14
				-309 -100 -407 -201 -35 -37 -42 -49 -31 -55 12 -8 10 -15 -12 -40 -23 -28
				-67 -127 -67 -151 0 -23 27 -7 54 31 15 22 30 38 32 36 8 -8 -43 -133 -71
				-176 -15 -23 -43 -51 -62 -62 -19 -12 -32 -24 -29 -26 12 -12 79 10 126 42 59
				39 60 35 13 -63 -14 -29 -22 -56 -19 -59 4 -4 21 8 40 26 33 32 33 32 40 9 11
				-43 7 -65 -14 -71 -11 -3 -27 -22 -36 -43 -31 -74 21 -164 96 -164 33 0 39 -4
				55 -40 23 -51 90 -113 152 -142 27 -13 49 -23 51 -24 2 -1 -10 -21 -27 -44
				-16 -22 -33 -55 -36 -71 -12 -55 -44 -78 -116 -82 l-64 -3 63 -2 c34 -1 62 -6
				62 -12 0 -5 -12 -10 -27 -10 -29 0 -29 -6 2 -12 31 -5 49 -38 21 -38 -8 0 -17
				6 -19 13 -4 9 -6 9 -6 0 -1 -7 -13 -13 -28 -13 -14 0 -24 -3 -20 -6 3 -4 27
				-6 53 -6 28 1 52 -4 61 -13 8 -9 33 -15 58 -15 57 0 89 26 89 73 0 34 1 35 44
				41 24 3 48 3 53 0 5 -3 7 -24 4 -47 -4 -36 -3 -38 4 -11 14 56 20 66 33 57 7
				-4 20 -6 29 -5 9 2 19 -4 22 -13 4 -8 12 -15 19 -15 9 0 9 3 -2 10 -8 5 -12
				11 -10 13 3 2 60 7 128 10 103 5 122 4 122 -8 0 -12 -19 -15 -102 -15 -56 0
				-99 -2 -96 -5 3 -3 49 -6 102 -6 53 0 96 -4 96 -9 0 -6 -63 -9 -150 -8 -83 0
				-153 -2 -157 -6 -3 -3 10 -6 30 -6 19 0 38 -6 40 -12 4 -10 6 -10 6 0 1 17
				177 17 184 0 4 -10 6 -10 6 0 1 19 36 14 56 -8 18 -20 17 -20 -31 -20 -43 0
				-50 -3 -50 -20 0 -11 4 -20 8 -20 4 0 8 6 8 14 0 11 12 15 41 14 30 0 39 -4
				35 -14 -3 -8 -1 -14 4 -14 6 0 10 6 10 14 0 9 13 14 41 14 31 1 39 -3 35 -14
				-5 -12 18 -14 147 -12 84 0 137 3 120 5 -43 5 -43 23 0 23 30 0 34 -3 45 -45
				7 -25 16 -45 22 -45 13 0 13 6 -4 61 -18 59 -60 138 -52 97 3 -14 9 -33 12
				-42 5 -14 -4 -16 -60 -16 -60 0 -66 2 -66 21 0 16 4 19 23 13 12 -3 18 -3 14
				2 -4 5 -28 9 -52 9 -33 1 -42 -2 -38 -13 4 -9 9 -10 16 -3 17 17 27 13 27 -9
				0 -18 -7 -20 -55 -20 -55 0 -65 6 -44 27 6 6 11 27 11 47 0 26 4 36 15 36 10
				0 14 -6 10 -20 -5 -19 0 -20 76 -20 49 0 77 4 69 9 -8 4 -12 17 -10 28 4 26 2
				26 -86 18 -72 -7 -76 -6 -110 21 -20 16 -39 40 -43 52 -3 13 -21 44 -39 68
				l-34 44 38 24 c51 32 124 113 146 162 18 41 18 41 61 36 39 -4 48 -1 75 26 23
				24 30 39 30 70 0 43 -27 87 -60 97 -11 4 -20 14 -20 22 0 14 4 13 23 -5 39
				-37 50 -29 45 30 l-5 51 18 -24 c16 -21 20 -22 29 -9 15 21 6 117 -16 165 -10
				22 -20 45 -22 50 -4 13 39 -36 55 -61 10 -17 13 -17 23 -4 35 49 -54 207 -144
				255 -20 11 -36 22 -36 26 0 10 60 19 86 13 32 -8 55 2 48 20 -11 28 -59 50
				-124 55 l-64 6 -14 48 c-9 31 -27 62 -51 85 -38 39 -87 69 -96 60 -3 -3 3 -25
				14 -49 11 -24 18 -45 16 -47 -2 -2 -30 15 -62 37 -134 91 -301 131 -413 99z
				m-57 -143 c55 -14 107 -40 107 -54 0 -3 -53 -6 -118 -7 -70 0 -151 -8 -200
				-18 -46 -10 -86 -16 -88 -13 -8 7 63 57 118 82 61 29 101 31 181 10z m401
				-390 c22 -88 21 -115 -4 -115 -28 0 -70 -21 -70 -36 0 -9 18 -14 53 -16 50 -3
				52 -4 55 -33 5 -59 12 -75 32 -75 23 0 47 32 62 85 6 22 13 33 14 25 1 -8 5
				-32 9 -52 4 -28 11 -38 25 -38 10 0 22 5 25 11 12 19 43 -20 55 -69 22 -94
				-22 -213 -108 -294 -92 -86 -187 -118 -352 -118 -119 0 -192 15 -290 61 -130
				60 -180 142 -180 293 l0 84 30 12 c17 7 43 27 58 45 21 25 38 34 75 39 46 7
				48 6 42 -13 -5 -18 -2 -21 20 -21 30 0 100 33 133 63 24 23 27 18 13 -31 -13
				-44 -5 -62 27 -62 35 0 93 42 131 95 41 58 88 158 96 206 9 55 28 37 49 -46z
				m-510 -87 c-4 -13 -11 -34 -16 -48 l-10 -25 -9 24 c-8 19 -5 29 12 48 28 29
				32 29 23 1z m76 -15 c0 -14 -19 -38 -25 -32 -8 8 5 39 16 39 5 0 9 -3 9 -7z
				m791 -210 c38 -22 56 -66 41 -99 -15 -32 -55 -50 -83 -38 -19 9 -22 19 -23 82
				-1 81 8 88 65 55z m-1105 -34 c11 -36 26 -39 36 -7 4 17 6 13 7 -18 1 -23 4
				-56 7 -73 6 -29 5 -31 -24 -31 -37 0 -82 48 -82 89 0 27 24 71 39 71 5 0 12
				-14 17 -31z m644 -419 c0 -26 -85 -41 -108 -18 -20 20 -14 23 48 26 34 1 60
				-2 60 -8z m116 -71 c3 -6 0 -17 -7 -25 -18 -17 -44 -2 -36 20 7 18 33 21 43 5z
				m-455 -58 c46 -47 34 -93 -29 -111 -31 -8 -41 -7 -62 9 -44 32 -36 115 12 124
				44 8 50 7 79 -22z m635 -2 c30 -28 30 -51 2 -83 -51 -56 -138 -25 -138 48 0 7
				10 26 22 41 18 23 26 26 56 21 19 -3 45 -15 58 -27z m184 -24 c0 -12 -13 -15
				-55 -15 -42 0 -55 3 -55 15 0 12 13 15 55 15 42 0 55 -3 55 -15z m-160 -115
				c0 -5 -9 -10 -20 -10 -11 0 -20 5 -20 10 0 6 9 10 20 10 11 0 20 -4 20 -10z
				m40 0 c0 -5 -7 -10 -15 -10 -8 0 -15 5 -15 10 0 6 7 10 15 10 8 0 15 -4 15
				-10z m130 0 c0 -6 -27 -10 -60 -10 -33 0 -60 4 -60 10 0 6 27 10 60 10 33 0
				60 -4 60 -10z"/>
				<path d="M651 936 c-17 -20 -10 -67 11 -80 28 -17 72 4 76 37 4 36 -13 57 -48
				57 -15 0 -33 -6 -39 -14z m39 -21 c0 -8 -6 -15 -14 -15 -17 0 -28 14 -19 24
				12 12 33 6 33 -9z"/>
				<path d="M1156 934 c-9 -8 -16 -24 -16 -34 0 -40 60 -66 88 -38 15 15 15 61 0
				76 -17 17 -54 15 -72 -4z m32 -21 c-4 -22 -22 -20 -26 1 -2 10 3 16 13 16 10
				0 15 -7 13 -17z"/>
				<path d="M913 701 c2 -41 28 -62 55 -45 21 14 28 52 11 68 -9 8 -11 7 -6 -6 9
				-26 -2 -48 -24 -48 -12 0 -22 11 -28 33 l-10 32 2 -34z"/>
				<path d="M700 344 c0 -14 -3 -14 -15 -4 -8 7 -15 8 -15 2 0 -15 28 -35 40 -27
				13 8 13 45 0 45 -5 0 -10 -7 -10 -16z"/>
				<path d="M1234 355 c-6 -15 2 -35 15 -35 4 0 16 7 27 16 18 15 18 15 -4 10
				-18 -3 -22 -1 -18 10 3 8 1 14 -5 14 -5 0 -12 -7 -15 -15z"/>
				<path d="M432 319 c-47 -131 -75 -219 -70 -224 3 -3 149 -1 324 4 176 6 454
				11 619 12 165 1 311 5 325 9 24 8 24 8 3 9 -13 1 -23 6 -23 12 0 5 -4 8 -9 4
				-6 -3 -15 3 -21 12 -10 16 -11 16 -7 -4 5 -22 2 -23 -66 -24 -40 -1 -235 -3
				-434 -5 -199 -2 -435 -8 -525 -13 -89 -6 -164 -8 -167 -5 -2 2 12 54 33 115
				20 62 34 114 32 117 -3 3 -9 -6 -14 -19z"/>
				<path d="M910 329 c0 -5 5 -7 10 -4 6 3 10 8 10 11 0 2 -4 4 -10 4 -5 0 -10
				-5 -10 -11z"/>
				<path d="M1545 290 c4 -6 11 -8 16 -5 14 9 11 15 -7 15 -8 0 -12 -5 -9 -10z"/>
				<path d="M922 256 c7 -8 15 -10 16 -5 5 13 30 11 35 -3 3 -8 6 -6 6 5 1 13 -7
				17 -34 17 -30 0 -34 -2 -23 -14z"/>
				<path d="M1012 256 c7 -8 15 -12 17 -11 5 6 -10 25 -20 25 -5 0 -4 -6 3 -14z"/>
				<path d="M1087 249 c4 -15 -7 -17 -93 -18 -54 -1 -100 -4 -103 -6 -2 -3 46 -5
				108 -5 75 0 110 3 106 10 -4 6 -2 16 4 23 7 9 5 13 -8 13 -12 0 -17 -6 -14
				-17z"/>
				<path d="M568 253 c7 -3 16 -2 19 1 4 3 -2 6 -13 5 -11 0 -14 -3 -6 -6z"/>
				<path d="M558 223 c12 -2 32 -2 45 0 12 2 2 4 -23 4 -25 0 -35 -2 -22 -4z"/>
				<path d="M516 192 c-3 -5 8 -6 25 -4 21 3 29 0 29 -11 0 -12 -13 -17 -52 -20
				-36 -2 -27 -3 27 -4 44 0 70 2 58 4 -26 5 -29 13 -11 31 9 9 3 12 -29 12 -23
				0 -44 -4 -47 -8z"/>
				<path d="M841 174 c0 -11 3 -14 6 -6 3 7 2 16 -1 19 -3 4 -6 -2 -5 -13z"/>
				<path d="M880 179 c0 -5 5 -7 10 -4 6 3 10 8 10 11 0 2 -4 4 -10 4 -5 0 -10
				-5 -10 -11z"/>
				<path d="M910 179 c0 -5 5 -7 10 -4 6 3 10 8 10 11 0 2 -4 4 -10 4 -5 0 -10
				-5 -10 -11z"/>
				<path d="M940 179 c0 -5 5 -7 10 -4 6 3 10 8 10 11 0 2 -4 4 -10 4 -5 0 -10
				-5 -10 -11z"/>
				<path d="M1110 163 c0 -13 3 -14 8 -5 6 9 42 12 130 11 68 -1 126 1 129 5 3 3
				-55 6 -130 6 -124 0 -137 -2 -137 -17z"/>
				<path d="M1158 143 c12 -2 32 -2 45 0 12 2 2 4 -23 4 -25 0 -35 -2 -22 -4z"/>
				</g>
			</svg>
			<span class="text-xl font-bold sm:text-2xl">Polande's Blog</span>
		</a>
		<nav
			aria-label="Main menu"
			class="absolute -inset-x-4 top-14 hidden flex-col items-end gap-y-4 rounded-md bg-bgColor/[.85] py-4 text-accent shadow backdrop-blur group-[.menu-open]:z-50 group-[.menu-open]:flex sm:static sm:z-auto sm:-ms-4 sm:mt-1 sm:flex sm:flex-row sm:items-center sm:divide-x sm:divide-dashed sm:divide-accent sm:rounded-none sm:bg-transparent sm:py-0 sm:shadow-none sm:backdrop-blur-none"
			id="navigation-menu"
		>
			{
				menuLinks.map((link) => (
					<a
						aria-current={url.pathname === link.path ? "page" : false}
						class="px-4 py-4 underline-offset-2 sm:py-0 sm:hover:underline"
						data-astro-prefetch
						href={link.path}
					>
						{link.title}
					</a>
				))
			}
		</nav>
	</div>
	<Search />
	<ThemeToggle />
	<mobile-button>
		<button
			aria-expanded="false"
			aria-haspopup="menu"
			aria-label="Open main menu"
			class="group relative ms-4 h-7 w-7 sm:invisible sm:hidden"
			id="toggle-navigation-menu"
			type="button"
		>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transition-all group-aria-expanded:scale-0 group-aria-expanded:opacity-0"
				fill="none"
				focusable="false"
				id="line-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M3.75 9h16.5m-16.5 6.75h16.5" stroke-linecap="round" stroke-linejoin="round"
				></path>
			</svg>
			<svg
				aria-hidden="true"
				class="absolute start-1/2 top-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 scale-0 text-accent opacity-0 transition-all group-aria-expanded:scale-100 group-aria-expanded:opacity-100"
				class="text-accent"
				fill="none"
				focusable="false"
				id="cross-svg"
				stroke="currentColor"
				stroke-width="1.5"
				viewBox="0 0 24 24"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
			</svg>
		</button>
	</mobile-button>
</header>

<script>
	import { toggleClass } from "@/utils";

	class MobileNavBtn extends HTMLElement {
		private headerEl: HTMLElement;
		private menuOpen: boolean;
		private mobileButtonEl: HTMLButtonElement;

		toggleMobileMenu = () => {
			toggleClass(this.headerEl, "menu-open");
			this.menuOpen = !this.menuOpen;
			this.mobileButtonEl.setAttribute("aria-expanded", this.menuOpen.toString());
		};

		constructor() {
			super();
			this.headerEl = document.getElementById("main-header")!;
			this.mobileButtonEl = this.querySelector("button") as HTMLButtonElement;
			this.menuOpen = false;

			this.mobileButtonEl.addEventListener("click", this.toggleMobileMenu);
		}
	}

	customElements.define("mobile-button", MobileNavBtn);
</script>
